<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
	body
		.box
			.top
				h2.name
					span.smallText
				.tag
				.cirbutton
			.bottom
				ul
					li
						span.bold
					li
						span.bold
					li
						span.bold
				.button
					.btn.btnWebsite
						a(href="" target="_blank")
					.btn.btnNews
