footer
	.container
		.row
			.col-2.offset-5.logo.text-center
				img(src="image/iroha-logo.png")
			.col-8.offset-2.text-center.menu
				.row
					.col-4
						a(href="home.html") ホーム
					.col-4
						a(href="menu.html") お品書き
					.col-4
						a(href="about.html") いろはについって
			.col-md-6.col-12.offset-md-3.main-banner
				img(src="image/footer1.png")
		.row
			.col-12.col-md-3.col-sm-6.banner
				img(src="image/banner-shop1.png")
			.col-12.col-md-3.col-sm-6.banner
				img(src="image/banner-shop2.png")
			.col-12.col-md-3.col-sm-6.banner
				img(src="image/banner-shop3.png")
			.col-12.col-md-3.col-sm-6.banner
				img(src="image/banner-shop4.png")
			.col-8.offset-2.text-center.copyright
				p (Copyright(C) 博多 水たき いろは All rights Reserved.)
			