doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Bootstrap
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css")
		script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js")
	body
		.btn.btn-outline-success success
		table.table.table-dark
			tr
				td 1
				td 2
				td 33
				td 444
		form.container
			.form-group
				label Email
				input(type="email" placeholder="Enter Email").form-control
			.form-check
				input(type="radio" name="radio").form-check-input
				label.form-check-label Default label
			.form-check
				input(type="radio" name="radio").form-check-input
				label.form-check-label Default label
			.form-check
				input(type="radio" name="radio").form-check-input
				label.form-check-label Default label
			.form-check
				input(type="radio" name="radio").form-check-input
				label.form-check-label Default label