<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css")
		link(rel="stylesheet", href="style.css")
		script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js")
	body
		.container
			.row.align-items-center.justify-content-around
				//- .col-lg-3.col-md-6.col-sm-12
				//- .col-lg-3.col-md-6.col-sm-12
				//- .col-lg-3.col-md-6.col-sm-12
				//- .col-lg-3.col-md-6.col-sm-12
				.col-1 1
				.col-1 2
				.col-1 3
			.row
				.col-4.offset-4

			.row
				.col-4.ml-auto.mr-auto
			.row
				.col-4.offset-4
					.row
						.col-4
						.col-4
						.col-4
